<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.azheng.rxjavamvpdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".jApp"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="supportsRtl,android:theme">
        <activity android:name=".activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PicDeatilsActivity" />
        <activity android:name=".JBrowseImgActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/LauncherTheme"></activity>
        <activity android:name=".activity.carDetals.CarDetailsActivity" />
        <activity android:name=".activity.SelectPeopleActivity" />
        <activity android:name=".MainActivity">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.azheng.rxjavamvpdemo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.ft.SendPostActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
    </application>

</manifest>